body{
  background-color: rgb(221, 236, 212);
}

  .navbar-sm-brand {
    font-size: 14px;
  }
  
  .space {
    margin: 0 10px;
  }
  
  .nav-links {
    transition: color 0.2s ease;
    font-size: 19px;
    font-weight: 500;
    color: #28a745 !important;
  }
  
  .nav-links:hover {
    color:yellow!important;
  }
  
  .nav-items {
    margin: 0 20px;
  }
  
  .logo h2 {
    margin: 0;
    padding: 10px 0;
  }

 
/* home section */
 .home {
  background-color: #28a745;
  padding: 50px 0;
}

.home .content {
  padding: 20px;
}

.home h2 {
  margin-bottom: 10px;
  font-size:3rem;
  text-shadow:1px 1px 1px black;
  color:#ff620a;
  font-weight: bold; 
       
 }


.home h4 {
  font-size: 40px;
  margin-bottom: 20px;
  color:white;
}
.content em{
  color:yellow;}

.home p {
  font-size: 18px;
  margin-bottom: 30px;
  color:white;
}

.home .image-container img{
  width:100%;}

  .content #shopnow{
    margin-left: 70px;
    width: 200px;
    height: 38px;
    border: 2px solid #ff620a;
    font-weight:bold;
    transition:0.5s ease;
    cursor: pointer;
    background-color:#ff620a;
    color: white;
}
.content #shopnow:hover{
    background-color: white;
    color:#ff620a;
}

.home img{
  width: 120%;
  height: 400px;
}

@media only screen and (max-width: 768px) {
  .home .row {
    flex-direction: column;
  }
  .home .content {
    text-align: center;
  }
  .home img {
    width: 100%;
    height: auto
  }
}



/*first card*/
.spacing{
  padding-top: 20px;
}

  .card1 {
    padding: 20px;
  }
  
  .card1 img {
    width: 100%;
    height: 150px;
    object-fit:cover;
  }
  
  .card1 h6 {
    font-size: 16px;
    text-align: center;
  }
  
  .card1 p {
    font-size: 14px;
    text-align: center;
  }
  
  @media only screen and (max-width: 768px) {
    .row {
      flex-direction: column;
    }
    .card1 {
      height: auto;
    }
    .card1 img {
      height: 150px;
    }
  }
  
  
/*second card*/
h5 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgb(245, 203, 141);
  padding: 10px;
  border-radius: 10px;
  }

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    }
  

.card{
  background-color:#f8f9fa;
  border-color:#f8f9fa;
}
.card {
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}


/*third card*/
.oval-card {
  background-color: #ff620a;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  background-color: #ff620a;
  border-radius: 50px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}

.oval-card img {
  width: 100%;
  height: 320px;
  
}

.oval-card .top {
   padding-top:30px;
   padding-right: 70px;
  text-align: center;
}
.oval_button {
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .oval-card .row {
    flex-direction: column;
  }
  .oval-card img {
    height: 200px;
  }
  .oval-card .top {
    padding: 10px;
  }
}

